@import url('https://fonts.googleapis.com/css?family=Lora|Raleway');

body {
  font-family: "Raleway", sans-serif;
}

address,
p {
  margin: 0;
  font-style: normal;

  }

img {
  width: 50%;
  height: auto;
}
